createdAt: "2019-11-25T03:05:39.192Z"
updatedAt: "2019-11-25T15:51:50.892Z"
type: "MARKDOWN_NOTE"
folder: "2573a6230e5269382147"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
