createdAt: "2018-06-15T05:19:07.814Z"
updatedAt: "2018-06-15T05:19:14.642Z"
type: "MARKDOWN_NOTE"
folder: "87c8bf19ffd2b85c41bc"
title: "centos 7"
content: "centos 7"
tags: []
isStarred: false
isTrashed: false
