createdAt: "2020-01-03T02:49:29.819Z"
updatedAt: "2020-01-03T02:49:59.873Z"
type: "MARKDOWN_NOTE"
folder: "c59f1336313435919ec3"
title: "生词表"
tags: []
content: '''
  # 生词表
  
  implement        实现
  functionality
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
