createdAt: "2018-06-27T03:11:34.748Z"
updatedAt: "2018-06-27T03:11:52.595Z"
type: "SNIPPET_NOTE"
folder: "ef2d6ebbfc00bb651888"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
