createdAt: "2018-11-07T09:20:23.441Z"
updatedAt: "2018-11-07T09:44:46.287Z"
type: "SNIPPET_NOTE"
folder: "d4705c15d7340395641c"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
