createdAt: "2019-07-19T03:13:58.229Z"
updatedAt: "2019-09-10T03:21:05.596Z"
type: "SNIPPET_NOTE"
folder: "ef2d6ebbfc00bb651888"
title: "string io"
tags: []
description: "string io"
snippets: [
  {
    linesHighlighted: []
    name: "write string io  to field"
    mode: "Python"
    content: '''
      buf = StringIO()
      fd = open ('file.xml', 'w')
      # populate buf
      fd.write (buf.getvalue ())
      fd.close()
    '''
  }
]
isStarred: false
isTrashed: false
