createdAt: "2018-07-30T08:02:35.161Z"
updatedAt: "2018-07-30T08:03:25.239Z"
type: "MARKDOWN_NOTE"
folder: "7a741dc0d61163d82e36"
title: "Comfluence"
content: '''
  # Comfluence 
  
  > 卸载Confluence
  
  - /opt/atlassian/confluence/uninstall
  - rm -rf /opt/atlassian /var/atlassian
'''
tags: []
isStarred: false
isTrashed: false
