createdAt: "2018-06-15T05:19:00.271Z"
updatedAt: "2018-06-19T02:40:55.025Z"
type: "MARKDOWN_NOTE"
folder: "87c8bf19ffd2b85c41bc"
title: "ubuntu"
content: '''
  ubuntu
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
