createdAt: "2018-11-15T01:50:52.732Z"
updatedAt: "2018-11-15T01:51:18.178Z"
type: "MARKDOWN_NOTE"
folder: "ef2d6ebbfc00bb651888"
title: "pandas"
content: '''
  # pandas
  
  ```
  import pandas
  
  df = pd.read_excel(path, sheet_name=0)
  df.dtypes     可以先查看表头信息和每一列的数据类型：
  df.loc[0]  读取 行  
  sheet.shape[0]   总列数
  sheet.shape[1]   总行数 
  ```
'''
tags: []
isStarred: false
isTrashed: false
