createdAt: "2018-12-21T03:20:24.965Z"
updatedAt: "2018-12-21T03:20:39.054Z"
type: "MARKDOWN_NOTE"
folder: "ad6154a9448de75c2a2e"
title: "Django 2.0 新特性要注意？ - 简书"
tags: []
content: "# [Django 2.0 新特性要注意？ - 简书](https://www.jianshu.com/p/f2630972ed78)"
isStarred: false
isTrashed: false
