createdAt: "2018-08-20T02:34:15.764Z"
updatedAt: "2019-04-28T09:33:32.939Z"
type: "MARKDOWN_NOTE"
folder: "dfecd6fda1fd6351071c"
title: "git 命令"
content: '''
  # git 命令
  
  
  
  > ## 指定本地 与 origin 的分支跟踪
  > 
  
  - 如果要本地跟踪 origin 的master 分支的话
  
  
      git branch --track master origin/master
      git push origin master / git pull origin master
          
      
  - 用了这两条条命令后，就可以直接 `git pull`，`git push` 了
  
  
  > ## 显示颜色
  > 
  
  ```
  git config --global color.status auto
  git config --global color.diff auto
  git config --global color.branch auto
  git config --global color.interactive auto
  ```
  
  
  ```
  # 查看远程源
  git remote -v
  # 更改远程源
  git remote set-url <master> <origin/master>
  ```
  
  ssh 慢解决办法
  
  #### [git clone一个github上的仓库，太慢，经常连接失败，但是github官网流畅访问，为什么？ - 知乎](https://www.zhihu.com/question/27159393)
  
  
  #### [猴子都能懂的GIT入门 \\| 贝格乐（Backlog）](https://backlog.com/git-tutorial/cn/)
  
  #### [Learn Git Branching 无敌可视化图解](https://learngitbranching.js.org/?demo)
'''
tags: []
isStarred: false
isTrashed: false
linesHighlighted: []
