createdAt: "2018-08-08T07:19:55.556Z"
updatedAt: "2018-08-14T02:34:47.093Z"
type: "MARKDOWN_NOTE"
folder: "e55ea9d9468c793e012f"
title: "mac 命令"
content: '''
  # mac 命令
  
  
  > 查看某服务的pid :beers:
  > 
      pgrep mongo
      
  - kill mongo 的不能用参数-9， 要用-2
  
  
  > top查看所有进程 :beers:
  > 
  
      top
      
  > 拷贝秘钥内容命令   :beers:
  ```
  pbcopy < ~/.ssh/id_rsa.pub           
  ```
  linux  用 ```xsel  ```
  
  > Time Machine 本地空间占用的问题 :beers:
  > 
      man tmutil
      # 列出所有的备份文件
      tmutil listlocalsnapshots /
      # 删除超过 1 Gigabyte 的文件
      tmutil thinlocalsnapshots / 1000000000
  
  > 查看 `当前目录下` 文件占用空间命令
  
      du -sh *
      
      # 这里面有app的缓存文件
      ~/Library/Containers
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
