createdAt: "2018-08-08T07:19:55.556Z"
updatedAt: "2020-01-02T01:43:07.478Z"
type: "MARKDOWN_NOTE"
folder: "e55ea9d9468c793e012f"
title: "mac 命令"
content: '''
  # mac 命令
  
  
  > #### 查看某服务的pid :beers:
  > 
      pgrep mongo
      
  - kill mongo 的不能用参数-9， 要用-2
  
  
  > #### top查看所有进程 :beers:
  > 
  
      top
      
  ### pbcopy
  #### 拷贝秘钥内容命令
  ```
  pbcopy < ~/.ssh/id_rsa.pub           
  ```
  #### linux 命令配合 pbcopy 使用
  ```
  $ pwd | pbcopy
  >/Users/paozi/Documents/taidi/taidiiv2
  >
  $ echo "Welcome To OSTechNix!" | pbcopy
  
  ```
  
  linux  用 ```xsel  ```
  
  > #### Time Machine 本地空间占用的问题 :beers:
  > 
      man tmutil
      # 列出所有的备份文件
      tmutil listlocalsnapshots /
      # 删除超过 1 Gigabyte 的文件
      tmutil thinlocalsnapshots / 1000000000
  
  > #### 查看 `当前目录下` 文件占用空间命令
  
      du -sh *
      
      # 这里面有app的缓存文件
      ~/Library/Containers
  
  > #### 查看 磁盘 命令
  > 
      diskutil
  
  > #### 查看 内存占用命令
  > 
      memory_pressure
      
  > #### ss -tanl 在mac的命令
  > 
      sudo lsof -iTCP -sTCP:LISTEN -n -P
  ```
  
  # Personally I've end up with this simple function in my ~/.bash_profile:
  
  listening() {
      if [ $# -eq 0 ]; then
          sudo lsof -iTCP -sTCP:LISTEN -n -P
      elif [ $# -eq 1 ]; then
          sudo lsof -iTCP -sTCP:LISTEN -n -P | grep -i --color $1
      else
          echo "Usage: listening [pattern]"
      fi
  }
  
  ```
  listening 
  listening 3306
  
  ---
  > #### 耳机不好使
  >   
      sudo killall coreaudiod
  
  
  > #### 显示 第三方app 命令
  > 
  
      sudo spctl --master-disable
      
      
  > ### 检查网络，端口 的几个命令
  > 
  
  ```
  1 、 lsof -i :1086
  2 、curl --socks5 127.0.0.1:1086 ip.gs
  3 、plutil -p ~/Library/Preferences/com.qiuyuzhou.ShadowsocksX-NG.plist | grep "ServerHost\\|Password\\|Method\\|ServerPort\\|ShadowsocksOn\\|ShadowsocksRunningMode\\|LocalSocks5"
  4 、 tail -n 20 ~/Library/Logs/ss-local.log
  ```
'''
tags: []
isStarred: false
isTrashed: false
linesHighlighted: []
