createdAt: "2018-08-08T07:19:55.556Z"
updatedAt: "2018-08-08T07:25:58.352Z"
type: "MARKDOWN_NOTE"
folder: "e55ea9d9468c793e012f"
title: "mac 命令"
content: '''
  # mac 命令
  
  
  > 查看某服务的pid :beers:
  > 
      pgrep mongo
      
  - kill mongo 的不能用参数-9， 要用-2
  
  
  > top查看所有进程 :beers:
  > 
  
      top
      
  > 拷贝秘钥内容命令   :beers:
  ```
  pbcopy < ~/.ssh/id_rsa.pub           
  ```
  linux  用 ```xsel  ```
  
  > Time Machine 本地空间占用的问题 :beers:
  > 
      man tmutil
  
  man 去查 ```tmutil```  命令
  <br />
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
