createdAt: "2018-09-17T08:13:48.552Z"
updatedAt: "2018-09-17T09:10:17.578Z"
type: "SNIPPET_NOTE"
folder: "26af1c9430c2430a4f2b"
title: ""
description: ""
snippets: [
  {
    name: "sdf.py"
    mode: "Python"
    content: '''
      {
      'username': {'error_code': ErrorDetail(string='parameters_error', code='invalid'), 'detail': ErrorDetail(string='用户已存在', code='invalid')},
      'code': {'error_code': ErrorDetail(string='code_error', code='invalid'), 'detail': ErrorDetail(string='验证码错误', code='invalid')}
      }
    '''
  }
]
tags: []
isStarred: false
isTrashed: true
