createdAt: "2018-09-10T15:20:52.732Z"
updatedAt: "2018-09-12T05:36:25.325Z"
type: "MARKDOWN_NOTE"
folder: "90ff79d45941be1d12b7"
title: "c4d 技巧总结"
content: '''
  # c4d 技巧总结
  
  > ####   M S   倒角命令 的使用心得（如果想倒出一个坑来的话）
  > 
  
  - 选好要倒的面
  - 按 M S
  - 鼠标在要倒的面外部，像某一方向拉使图片有像内去的趋势的时候 ，按住shift，像反方向拉，就可以看到一个有倒角的凹陷（此时 凹陷表面积会越来越小）
  - 想保持当前凹陷的表面积不变，在这个时候 按住 control 拖拽
  
  
  > #### shift + M  调出来一个建模设置， 可以帮助选点 网格检测之类的
  > 
  
  
  > ####  选择 -> 设置选集  的用法
  > 
  
  - 每当选择了一系列的 点/面 之类的需要记录的时候，点一下 ，会自动记录那个状态框选的 点/面
  
  > #### 细分曲面
  > 
  
  
  > shift + F9 | window -> structure manager 按住shift 可以选中边不同的 面
  > 
  
  > 图上按住contrl 鼠标按住拖动，多选
  > 
  
  > 显示轮廓线
  > 
      shift + v 勾选 所选线框
      
  > #### 选择工具
  > 
  - shift + 安住左键 = 一直选，扫到就选
  - control + 按住左键 = 一直取消选择
  - shift + 安装鼠标 滚轮 拖动 = 控制实时选择框的大小
  - 按住control + 拖动Y轴 = 拉伸成立体的
  
  > #### 循环选择
  > 
      U L
  
  > #### 反选
  > 
      U I
'''
tags: []
isStarred: false
isTrashed: false
