createdAt: "2018-08-21T07:32:03.061Z"
updatedAt: "2018-08-22T03:08:26.042Z"
type: "MARKDOWN_NOTE"
folder: "d4705c15d7340395641c"
title: "配置篇"
content: '''
  # 配置篇
  
  > 伪静态rewrite
  > 
  ```
  location / {
                  if (-f $request_filename/index.html){
                        rewrite (.*) $1/index.html break;
                  }
                  if (-f $request_filename/index.php){
                        rewrite (.*) $1/index.php;
                  }
                  if (!-f $request_filename){
                        rewrite (.*) /index.php;
                  }
          }
  ```
  > nginx 配置PHP fastcgi无法解析问题
  > 
  
  - 很多朋友在初次接触nginx，配置php-fpm时都会遇到无法解析index.php页面的情况，搞得烦躁不安，心想明明是按着官方文档来的为什么会出现这种情况？
  - 通常我们都会如下配置：
  
  ```
  location ~ \\.php$ {
  root           /usr/share/nginx/html;
  fastcgi_pass   127.0.0.1:9000;
  fastcgi_index  index.php;
  fastcgi_param  SCRIPT_FILENAME  /usr/share/nginx/html/$fastcgi_script_name;
  include        fastcgi_params;
  }
  ```
  - 这里有一个SCRIPT_FILENAME变量，可能是由于历史原因fastcgi_params这个文件中是不包含该变量的，改变量的定义实际上是在fastcgi.conf文件中。所以把include这一行改为`include        fastcgi.conf;`
  
  > 关于 配置nginx用户的权限问题
  > 
  - /etc/nginx/nginx.conf 里面 例如用户为 www 的话
     - user www www ;
  - 配套 配置里 文件跟路径 root 的文件所属用户也是 www
  - `/var/lib/nginx` 的所属用户 也要为 www
  
'''
tags: []
isStarred: false
isTrashed: false
