createdAt: "2018-11-29T04:00:11.384Z"
updatedAt: "2018-11-29T04:00:24.366Z"
type: "MARKDOWN_NOTE"
folder: "7a741dc0d61163d82e36"
title: "MTProxy"
content: '''
  # MTProxy
  
  
  [MTProxy自建教程](https://liball.me/mtproxy/)
'''
tags: []
isStarred: false
isTrashed: false
