createdAt: "2018-10-18T08:34:51.441Z"
updatedAt: "2018-10-18T08:34:58.038Z"
type: "MARKDOWN_NOTE"
folder: "ef2d6ebbfc00bb651888"
title: "operator"
content: '''
  # operator
  
'''
tags: []
isStarred: false
isTrashed: false
