createdAt: "2018-09-25T03:48:48.176Z"
updatedAt: "2018-10-08T09:47:36.863Z"
type: "MARKDOWN_NOTE"
folder: "7a741dc0d61163d82e36"
title: "跨域资源共享 CORS 详解 - 阮一峰的网络日志"
content: "[跨域资源共享 CORS 详解 - 阮一峰的网络日志](http://www.ruanyifeng.com/blog/2016/04/cors.html)"
tags: []
isStarred: false
isTrashed: false
