createdAt: "2018-06-24T08:03:53.618Z"
updatedAt: "2018-06-25T09:02:54.441Z"
type: "MARKDOWN_NOTE"
folder: "ef2d6ebbfc00bb651888"
title: "数据分析"
content: '''
  # 数据分析
  
  - ## 集中趋势
    -- 数据密集程度的一种统计
  - #### 均值，中位数，众数，分位数
  - 四分位数计算方法：
  ![Screen Shot 2018-06-24 at 16.26.01.png](:storage/c9d8256d-1e3f-4b2a-9d0a-274098f13a2b/d8019eb0.png)
  
  - ## 离中趋势
    -- 数据离散程度
    
  - 标准差，方差
  ![Screen Shot 2018-06-24 at 16.32.29.png](:storage/c9d8256d-1e3f-4b2a-9d0a-274098f13a2b/2679dbc1.png)![Screen Shot 2018-06-24 at 16.32.43.png](:storage/c9d8256d-1e3f-4b2a-9d0a-274098f13a2b/36361e3e.png)
  - ø 越大，数据越离散
  ***
  
  # 数据分布：
  
  ### 偏态与峰度
  
  
  - 偏态系数与峰态系数
  
  偏态系数
  
       中位数与众数的比较
   ![Screen Shot 2018-06-24 at 16.43.42.png](:storage/c9d8256d-1e3f-4b2a-9d0a-274098f13a2b/5f91a61c.png)
   s > 0 : 正偏，说明均值比较大
   s < 0 : 负偏
   
   峰态系数
   
      数据分布集中强度的衡量
      
  ![Screen Shot 2018-06-24 at 16.49.06.png](:storage/c9d8256d-1e3f-4b2a-9d0a-274098f13a2b/c85e1874.png)
  K 越大顶越尖
  K 越小数据分布越均匀
  正态分布 k 一般等于3
  
  ### 分布概率
  
  - 正态分布与三大分布
  
   ![Screen Shot 2018-06-24 at 16.55.13.png](:storage/c9d8256d-1e3f-4b2a-9d0a-274098f13a2b/65ab1a6d.png)
   
   ***
   
   # 抽样理论
   
   - 抽样误差与精度
  
  ![Screen Shot 2018-06-24 at 16.59.34.png](:storage/c9d8256d-1e3f-4b2a-9d0a-274098f13a2b/2342a7d6.png)![Screen Shot 2018-06-24 at 17.01.58.png](:storage/c9d8256d-1e3f-4b2a-9d0a-274098f13a2b/f127d992.png)
  
  
'''
tags: []
isStarred: false
isTrashed: false
