createdAt: "2018-06-15T05:04:38.551Z"
updatedAt: "2018-09-10T07:53:16.062Z"
type: "MARKDOWN_NOTE"
folder: "87c8bf19ffd2b85c41bc"
title: "通用命令"
content: '''
  # 通用命令
  
  > #### 查看端口情况命令 :beers:
  
   `ss -tanlp` 查看所有启动网络端口的情况
   
   `ps aux|grep port/app` 查看某一端口或进程情况
   ***
   
   > #### systemctl :beers:
  `systemctl start/reload/stop/enable application`
   
  用` systemctl ` 启动的，关闭重启 就还要用这个操作，要path/bin 起的 用这个不能操作
  ***
  
  
  > #### screen :beers:
  ```
  screen -ls 查看几个screen窗口  
  screen -r screenID  进入某一个具体窗口 
  ctrl + a d  挂起当前服务
  ```   
  ***
    
                     
  > #### 虚拟机用net 模式 与主机连接
  [MAC VMWare Fusion网络设置](http://blog.csdn.net/nciasd/article/details/68499431)
   [虚拟机Nat模式下设置静态ip - CSDN博客](http://blog.csdn.net/clean_water/article/details/53024423)
   if cfg－ens33  配置里面加一个 DNS1=“vmnet 8 的网关地址”
   
   ***
   
  > #### 防火墙 :beers:
  
  - 查看状态
  
      `firewall-cmd --state`
  
  - 开启/关闭/重启防火墙
      `service firewall start/stop/restart`
   
  - 设置开启/关闭指定端口
  
      `firewall-cmd --permanent --add-port=8080-8085/tcp`
      `firewall-cmd --permanent --remove-port=8080-8085/tcp`
      更改配置要reload
      
  - 查看端口情况
      
      `firewall-cmd --permanent --list-port`
      查看具体服务
      `firewall-cmd --permanent --list-services` 
                            
  ***
  > ### 查看linux 版本
  
      cat /etc/issue
      
  ***
  > ### 系统状态命令
  
      top
      nmon
  
  ***
  
  > ###  service 启动服务 的配置文件位置
  
  
      /etc/init.d/<应用名>
  
  > ### 服务器增加字体
  > 
  [Linux CentOS 7 安装字体库 & 中文字体_Linux教程_Linux公社-Linux系统门户网站](https://www.linuxidc.com/Linux/2016-09/135548.htm)
  
  > ### 更改 文件所属用户和组
  > 
      chown -R <user>:<group> <filename> 
      
  - -R  递归
      
  > ### 更改文件夹权限 775
  > 
      chown -R 775 <filename>
      
  > ### 查看网关
  > 
    
      ip route show
    
  > ### 查看dns
  > 
  
      cat /etc/resolv.conf
'''
tags: []
isStarred: false
isTrashed: false
