createdAt: "2018-06-15T05:04:38.551Z"
updatedAt: "2020-01-13T03:16:12.711Z"
type: "MARKDOWN_NOTE"
folder: "87c8bf19ffd2b85c41bc"
title: "通用命令"
content: '''
  # 通用命令
  
  > #### kill 命令
  > 
  ```
  kill -2
  kill -9
  pkill <name>      pkill java
  ```
  
  > #### 查看端口情况命令 :beers:
  
   `ss -tanlp` 查看所有启动网络端口的情况
   
   `ps aux|grep port/app` 查看某一端口或进程情况
   mac 用命令：
  `    ps -ef|grep `
   ***
   
   > #### systemctl :beers:
  `systemctl start/reload/stop/enable/disable application`
   
  用` systemctl ` 启动的，关闭重启 就还要用这个操作，要path/bin 起的 用这个不能操作
  ***
  
  
  > #### screen :beers:
  ```
  screen -ls 查看几个screen窗口  
  screen -r screenID  进入某一个具体窗口 
  ctrl + a d  挂起当前服务
  ```   
  ***
    
                     
  > #### 虚拟机用net 模式 与主机连接
  [MAC VMWare Fusion网络设置](http://blog.csdn.net/nciasd/article/details/68499431)
   [虚拟机Nat模式下设置静态ip - CSDN博客](http://blog.csdn.net/clean_water/article/details/53024423)
   if cfg－ens33  配置里面加一个 DNS1=“vmnet 8 的网关地址”
   
   ***
   
  > #### 防火墙 :beers:
  
  - 查看状态
  
      `firewall-cmd --state`
  
  - 开启/关闭/重启防火墙
      `service firewall start/stop/restart`
   
  - 设置开启/关闭指定端口
  
      `firewall-cmd --permanent --add-port=8080-8085/tcp`
      `firewall-cmd --permanent --remove-port=8080-8085/tcp`
      更改配置要reload
      
  - 查看端口情况
      
      `firewall-cmd --permanent --list-port`
      查看具体服务
      `firewall-cmd --permanent --list-services` 
                            
  ***
  > ### 查看linux 版本
  
      cat /etc/issue
      
  ***
  > ### 系统状态命令
  
      top
      nmon
  
  ***
  
  > ###  service 启动服务 的配置文件位置
  
  
      /etc/init.d/<应用名>
  
  > 服务器增加字体
  > 
  [Linux CentOS 7 安装字体库 & 中文字体_Linux教程_Linux公社-Linux系统门户网站](https://www.linuxidc.com/Linux/2016-09/135548.htm)
  
  > 更改 文件所属用户和组
  > 
      chown -R <user>:<group> <filename> 
      
  - -R  递归
      
  > 更改文件夹权限 775
  > 
      chown -R 775 <filename>
  
  > 文件添加可执行权限
  > 
      chmod 775 <filename>
      
  
  > ### 查看网关
  > 
  
      ip route show
      
  > ### 查看 dns
  > 
  
      cat /etc/resolv.conf
      
  > ### [Linux 下挂载新硬盘方法 - CSDN博客](https://blog.csdn.net/zqixiao_09/article/details/51417432)
   
  > #### 查看文本前几行或后几行
  > 
  
  ```
      cat <filename> | grep tail -n 100  后100行
                       grep head -n 100  前100行
  ```
      
  > #### 查看内存 
  > 
      free -h
      
  > #### tree 显示乱码
  > 
  
      tree -N
      
      
  > nohup  命令 screen 后台启动
      
      
      
  > #### tail -f 实时查看
  > tailf <name> 也行
  > 
  
  
  > #### 查看ip地理位置
  >   curl myip.ipip.net
  
  > #### linux远程scp，但是不覆盖已经存在文件的方法
  > 
  ```
  rsync -avz --progress /root/client/   root@202.112.23.12:/home/work/      
  ```
  
  > #### scp 使用代理的方法
  > 
  ```
  rsync -av -e "ssh -o 'ProxyCommand nc -X 5 -x 127.0.0.1:1086 %h %p'" /Users/paozi/Downloads/包/wordpress-atom/Atomlab.zip mytest:~/
  ```
  > ### ssh 使用代理
  > 
  ```
  ssh -o ProxyCommand="nc -X 5 -x 127.0.0.1:1086 %h %p" mytest
  ```
  
  
  //将本机的/root/client/拷贝至远程的202.112.23.12:/home/work/目录，--progress可以查看拷贝的过程
  
  
  例子：rsync -avzu --progress /root/client/   root@202.112.23.12:/home/work/     //u选项，指定不覆盖原目录内容
  ```
  
  >### history
  >
  [如何在 Linux 中有效地使用 history 命令 \\| Linux Story](https://10.linuxstory.net/how-to-use-history-command-effectively-in-linux/)
  
  
  ### netcat
  
  ```
  nc -nv 45.76.186.59 7000
  nc -v xiaoqian.tk 7000
  ```
'''
tags: []
isStarred: false
isTrashed: false
linesHighlighted: []
