createdAt: "2018-08-02T02:54:33.051Z"
updatedAt: "2018-08-02T02:55:25.814Z"
type: "MARKDOWN_NOTE"
folder: "8b6c03be07a4d01edcb8"
title: "要唱高音只有一个方法，就是用丹田。为什么有些人用了丹田还是唱不到？"
content: '''
  #### 要唱高音只有一个方法，就是用丹田。为什么有些人用了丹田还是唱不到？
  
  1，每个人音域不同，我曾听过，颈项较短较肥的人，多是男女高音，颈项较长较瘦的人，多是男女低音。这是因为喉结的关系，而有些是唱男女低音的人为何可以唱高音？后天的练习也是可以训练的。家族遗传好像也是有关系，你爸妈是男女高音，你注定是唱高音的，这是我去听讲座听来的。所以你可以研究一下。
  2，不够气，不够力度。不是叫你全身用力，而是轻松运用丹田及身上的音腔，有四个，胸腔，鼻腔，喉腔及头腔。太紧绷会造成唱不到高音，因为你已锁紧喉咙。
  真假音变换是需要长时间练习的。为什么有些人假音很小声，因为你的声音还没开，需要长时间的努力声音才会开的，而且丹田力度也有管。低
  低音的人能用真音唱到很高的音，但却不能用假音调更高的音。反而高音的人不能用真音唱很高的音，却能用假音调更高的音。
  我的音乐老师说过，除了美声唱发，运用丹田唱流行歌，久后声音一定沙哑，张惠妹就是一个例子。唱歌最重要是运用丹田，而不是用喉咙乱喊乱叫，只有用丹田唱歌才是保护喉咙最佳方法。找了些资料让你参考，不过还没有跟准节拍不要用先，我不会害你的。
  丹田唱歌其实是发声和"气"的运用
  当你用丹田提劲发出的声音会叫"厚"叫"饱"!!这是因为发声源较深的因素
  丹田就好像是引擎一样！你得藉由它把气力经由声带送到共鸣点....
  所以唱歌时有点像是用"腹肌"唱歌!但并不是用真的肚子用力就好了！
  是肚子的"深处"----即所谓丹田
  但是去感觉那种使力的方式去熟悉它运用它！唱唱高音的东西就可以听
  得出来是否有用到丹田！有用到的话声音会很扎实......
  1、 共鸣原理及分类
  ...
  美好的歌唱共鸣是歌唱者所共同追求的。要想获得它，就需要全面了解人体共鸣的相
  互关系和作用，并付出艰辛的努力，通过刻苦的训练才能得到它。
  ＜一＞ 共鸣的原理
  共鸣——某物体因受到振动而发出声音，这种声音又传播到其它物体上，引起其它物体
  的共振的现象叫共鸣。
  声音产生需要有振动体、媒介＜空气及其它＞和听声音耳膜。当物体被打击而产生振动
  时，促使媒介产生了波纹，叫音波。这种音波由媒介传入人的耳膜成为声音。一个发音
  体在振动发音时，它除了能发出一基音外，还能同时发出一些微小的泛音。例如：a弦振
  动率是400，当它的微波传到某一个每秒振动440次的物体时，这一物体受到振动的影响
  ，才会引起共振，产生共鸣。
  人体共鸣形成的过程是，从歌唱发声到利用人体内很多可以产生共鸣的空间，使气息冲
  击声带而出现了基音。这个基音虽然很微弱，但是它一进入人体固有的共鸣空间之后，
  就产生了不同形式的声波共振，于是出现优美、悦耳的歌声来。共鸣的使用能够扩大音
  响效果，同时还可以美化声音。我们应充分利用人体构造的共鸣腔，努力控制歌唱发声
  ，逐步训练形成空间立体感的音响。歌唱发声的共鸣效果对于歌唱是十分重要的。
  ＜二＞ 共鸣的分类
  共鸣的分类：通常有三种分类的方法：从生理构造上进行分类；从共鸣结构能否调节上
  进行分类；从共鸣运用性质上进行分类。
  从生理构造上，可分为头腔共鸣、鼻腔共鸣及口腔共鸣。
  头腔共鸣产生的生理结构位置是在鼻腔上方。窦部各空间有额窦、筛窦等。它们属于固
  定空间，声波共振是无气息的共鸣。体积小，位置高，这种共鸣色彩明亮，集中而柔和
  。演唱时要注意打开颌关节，减轻下颌重量，感觉骨室有轻微振动感，眉心处也有微振
  感，这样歌声就集中明亮了。
  头腔共鸣依靠鼻咽腔的咽壁力量与软腭，控制进入鼻腔的声音方向，使声音进入头腔，
  形成共鸣。这种控制要细心体会，才能取得很好的效果。
  还要注意的是，当运用民族唱法唱抒情高音的曲目时，声波只在鼻梁上端的鼻骨处振动
  即可；如果运用美声唱法演唱大音量的戏剧性的歌曲时，声波需要在鼻梁及周围较大面
  积的骨面上振动。有经验的歌唱家们为获得头腔共鸣的感受，常常善于把声音送到头腔
  中去，认为——是真正的美好的歌唱，而且这种唱法，声音不会疲劳，永远年轻。如果
  失去了头腔共鸣的支持作用，歌唱的寿命不但会缩短，而且声音是十分不悦耳的。
  ＜2＞ 鼻腔共鸣及作用
  鼻腔共鸣不是鼻音。是声波进入鼻腔后经过控制产生的共鸣效果。从生理结构上看，鼻
  咽腔的上部是颅骨，下部是软腭，由鼻腔和鼻咽腔组成共鸣空间，体积大，共鸣振动在
  鼻腔内而产生，是由无气息的固定空间形成共振的。
  要获得良好的鼻腔共鸣 还需要注意以下几点：
  软腭的运用：软腭即平时称为的小舌头。软腭是鼻咽腔的底，形成了穹形，有利于用咽
  壁对声音推送。通过软腭的运用，促使鼻咽腔形状的变化及音色的变化。用哼唱练习，
  便于使软腭中部产生振动，扩大鼻咽腔，同时还能使鼻咽腔下部也打开。
  打开并控制颌关节：上下颌关节活动应张开小半寸，对于取得共鸣有好处。下颌轻轻下
  移，感觉好像没有重量，声音就轻松自如了。还要记住，鼻咽腔既可以使声波进入鼻腔
  共鸣的较大空间里去，又能不让气息进入这个空间中来。它起着声气离析的作用，能够
  促使共鸣的色彩变化。
  ＜3＞ 口腔共鸣及作用
  口腔共鸣是可变共鸣腔。又是高音和低音的中间衔接区，是咬字清楚的部位。它的共鸣
  区包括口腔、喉腔。通俗唱法多采用口腔共鸣。
  根据共鸣结构可调节与否，共鸣也可划分为固定不变共鸣和可变共鸣
  固定不变共鸣腔：它包括鼻腔和额窦、喋窦、筛窦、及窝音等。鼻包括外鼻和鼻腔。鼻
  腔的容积比外鼻大，它的上壁是筛骨，下壁是硬腭，后面同鼻咽腔相通，鼻腔通向周围
  的骨顶空腔有筛窦、頟窦、蝶窦。
  这些共鸣腔具有稳定的固定空间，其体积和形状是无法进行调节的。
  可变共鸣腔：它包括口腔、喉咽腔、鼻咽腔和口咽腔、喉腔、胸腔等。口腔的上前部是
  硬腭，后部接到舌根和会厌咽腔。喉咽腔上部通口是咽部，下连食管，上部是舌根和会
  厌＜喉头肌可以主动调节＞，与共鸣腔下部接喉口，通喉前延部位＜声带位于喉室＞。
  鼻咽腔，它的前壁同鼻腔相通。下方以软腭为界，通向口咽。
  口咽腔，上与鼻咽为界，同口腔相通。下通喉咽。
  声道，在声带以上，同口、鼻、喉、咽腔相连，形成类似管状的口咽喇叭管。它的出口
  在鼻腔、口腔。喇叭嘴是喉室。声带、声道是主要的共鸣腔体之一。
  人体的固定共鸣腔、可变共鸣腔，经训练都会引起美好的共鸣反应。咽腔和口腔、胸腔
  相连，它是重要的共鸣腔。胸腔在共鸣中也起了不可缺少的作用。除了人体歌唱发声系
  统的全部空腔为歌唱共鸣发挥作用之外，共鸣在人体的骨骼中也会发生作用。人的声音
  共鸣主要是腔体共鸣。人的上咽管的大小和容量是可以变化的。经过共鸣的作用可以增
  大音量，变化音色。使声音发出泛音，得到美化，从而发出动听的声音来。
  由于运用性质的不同，头部前方共鸣分为：上部共鸣和下部共鸣。一般称腭以上为“上
  部共鸣”，腭以下称“下部共鸣”。
  上部共鸣：包括鼻腔、鼻窦、上颔窦、额窦、蝶窦、和筛窦。
  下部共鸣：包括口腔、咽腔、喉上部等处。
  前面说过，凡是充满空气的地方都可以发生共鸣。然而头腔并不是充满空气的腔体，为
  什么可以引起声音的共鸣呢？原来，它不是利用有空气的腔体作为传声的共鸣腔，而是
  利用固体的骨组织的传导作用而加强声音的强度。声音的强度是构成声音响度的重要因
  素之一，骨传导作用与高音相结合，声音自然增加响度，因此利用上部共鸣有助于声音
  的扩大。
  利用上部共鸣的道理，就是利用喉、咽、口的共振，经过头骨的传导，引起几个窦体的
  共振，来加强声音的共鸣，我们称它为“骨传导”＜不是气传导＞。上部共鸣主要是借
  助“骨传导”作用来实现的。在生活语言中，虽然意识不到它的共鸣作用，但在高声说
  话或发某些音时，“骨传导”的共鸣作用也在参与扩大音响的行列。歌唱家所以强调要
  把上部共鸣利用上，是因为它的共振作用较强，如果和下部共鸣联合起来，对于高低音
  的音响以及歌唱中的情感配合，都有着积极作用。
  应用上部共鸣，必须先造成下部共鸣强有力的声波。声波达到硬腭，利用硬腭的振动引
  起鼻腔和头腔各窦的共振，这就是骨传导的作用。这样既增加音量，又可增加声音的力
  度。按理说，气流到达口腔时，不能使气流通过鼻腔汇出国，必须使鼻腔中的气流折回
  口腔，再从口腔喷出去，这样才能真正得到上部共鸣的音响。然而，咽腔是个三岔口，
  当气流到达咽腔时，必然有一部分冲向鼻腔，一部分冲向口腔，要想把鼻腔中的气流折
  回口腔是不容易的。这样，使用上部共鸣，便会形成全部的半鼻音。这种情况，在一些
  歌唱演员中是常有的。当他们希望得到上部共鸣的帮助时，便把舌根降低，软腭放松，
  有时还把鼻孔张大，这样，把气流引进鼻腔时，也就从鼻腔中泄出大部分。
  使用上部共鸣，似乎半鼻音是不可避免的。但是在民族唱法中，显然比美声唱法的鼻音
  是要少些。 这是由于两种发音的口腔开度和肌肉松紧不同而引起的。歌唱的发声，每
  个韵母几乎都披上了鼻音的色彩，尤其遇到窄韵母i.u.yu时，这种现象就更显著。然而
  听者要是不细分辨，就听不出鼻音的色彩，反而觉得声音饱满。
  由于韵母发音有高低性质的不同，它对“骨传导”所起的强弱作用也不一样。一般说，
  窄韵母i/u/yu显然比宽韵母a/o/e强，这点从实验上可以得到充分证明。为什么会有这样
  的现象呢？这是因为发窄韵母时口腔比较窄＜声位高＞。当声波达到口腔时，不是很畅
  快地流到口外，它要比发宽韵母的气流送得缓慢，这时腭部被鼓动的力量也就强些，因
  而可使颅骨受到强烈的震动。不过我们应该注意，这类韵母最容易把声波引向鼻腔，也
  誻最容易产生鼻音，而且发音时的口腔肌肉比较紧张。为了使它不带鼻音或少带鼻音，
  发这类音时更应该注意口腔适当扩大。宽韵母a/o/e的口腔开度都比窄韵母i/u/yu为大，
  从喉部发出的声波到达口腔时，没有窄韵母那么大的强度，而且很容易从口腔内部辐射
  出动，所以震动颅骨的力量也就减弱了。因此对于头部共鸣来说，窄韵母比宽韵母更为
  显著。这种情况告诉我们，能否引起上部共鸣，和气流压力的强弱很有关系。
  从声音的高低来说，高音容易引起头部共鸣低音则容易引起胸部共鸣。
  这是因为发高音时声带闭合较紧，气流的冲击力较强；发低音时声带闭合较紧，气流的冲击力较弱。低音歌唱家常是利用胸部共鸣，高音歌唱家则必须兼用头部共鸣。在这里我们应该注意，唱低音只能说是以下部共鸣为主，并不是说完全抛弃上部共鸣。当唱高
  音的时候，如果得到上部共鸣的协作，发出的声音将是纯厚而清亮的。相反的，唱高音只能说上部共鸣起主要作用，要是缺少上部共鸣，声音的高度将会受到影响；然而下部共鸣也不应该完全不去利用，如果缺少下部共鸣，要得到高音的宽度是有困难的。我们对于歌唱的声音＜不管是高音还是低音＞，总是要求圆动听的。常听到一些女高音，虽然能唱到C4，的声音听起来却感到干燥刺耳，缺乏圆满的色彩，这就是上部共鸣和下部共鸣没有配合起来的结果。所以，共鸣的利用在唱高音或低音时应该分别主次，高音要以上部共鸣为主，下部共鸣为辅；低音要以下部共鸣为主，上部共鸣为辅。两者必须配合适当，才能发出宽厚而有力度的声音。我们听到一些歌声很美的高音歌唱家，当他歌唱时，如果用手抚摸头顶，可以感觉到剧烈的震动，同时用手抚摸胸廓，也会感到胸廓的骨骼发生震动。这说明高音不仅使用上部共鸣，下部共鸣也在起作用。有人强调上部共鸣的作用，而忽略了下部共鸣的协作关系因而得不到理想的高音。从广义上说，胸腔和头腔和骨组织都有传导声音的作用，但是它们的作用是不相等的。
  胸腔的骨组织再加胸壁本身的震动，所引起的共鸣是很明显的；头腔的骨组织由于区域
  不同，引起共振的强弱和清晰的程度不同。一般说，额窦部位的共鸣最强最清楚，这是
  因为这个共鸣区受到喉腔、咽腔、口腔和鼻腔全部声波直接振荡的结果。我们要求歌者
  要把声音提到头部上来，也就是希望提到额窦位置上来，使这部分的骨骼产生共鸣作用
  。其次，头部共鸣作用比较大的部位还有枕骨。它是构成颅腔底部和后部的骨头，在头
  部后面正下方。因为它的位置也是声波直冲的地方，所以这部分的共鸣腔的发声，除了
  利用额部共鸣以外，当唱高音的时候，还兼用枕骨的共鸣作用，这就是我国戏曲界所讲
  的所谓“脑后摘筋儿”。那么，怎样才能把这部分的共鸣使用上呢？有一种理论认为枕
  骨的下面接连颈椎骨，当强有力的声波冲到喉腔之后，它会引起颈椎骨的振动，再由颈
  椎骨往上传导，枕骨便发生振动。另外，声波到达口咽腔时， 引起很大的传导力量，
  它从的后部直接影响枕骨的振动，而且这部分离“蝶窦”很近，因而它的共振作用也就
  更加强了。在利用枕骨共鸣时，有一点应该注意，发声时必须颈部挺直＜但不要僵硬＞
  。这样的姿态可使喉、咽腔扩大，气流畅通，造成强有力的气流柱，上升直达软腭的后
  部，引起枕骨的振动，造成声音的力度。当我们把声音提上来的时候，会感到脑后发生
  振动，这时上部和下部的共鸣则已经连在一起。
  实验证明，光是喉腔的共鸣作用是不大的，声音不是很响的，音色的变化也不是很清楚
  的。这是因为喉腔基本是软组织组成，在软的共鸣体中发声，声音首先被吸收一部分；
  因为喉腔较小，共鸣作用不强；再因为喉腔没有显著的变化，音色变化不大。
  以上各种情况说明，上部共鸣和下部共鸣的运用，有赖于强有力的气流，然后在良好的
  喉，咽、口、鼻腔共鸣的基础上才能产生。所以我们要得到全部共鸣协作，要特别锻炼
  呼气和挡气的作用。
  怎样获得共鸣 (2)
  2、共鸣与声区
  依据音的高低变化和共鸣部位的不同运用，形成了三个声区：高声区、中声区和低声区
  。
  高声区＜头声区＞
  发声偏重于头腔共鸣，有利于发挥高声区的技巧。在歌唱发声时感到前额和脸两颧部分
  有振动的感觉。发出的声音有假声的特色。同时要注意在高声区演唱时，鼻咽腔和软腭
  等处和肌肉的运动不可收缩过分，使音波没有流动的余地，影响了泛音音响效果。
  中声区＜混声区＞
  发声偏重于均匀的谐和共鸣，有利于发挥中声区技巧和特色。中声区是低声区和高声区
  衔接的地方，既要把高声区音量同低声区音量调节控制均匀，又要保持声音的通畅和统
  一。这个声区在声乐训练中占主要地位。中声区音乐柔和、松弛而又明亮。要提出注意
  的是，喉、舌等肌肉在演唱时，如果收缩过分，也会产生声流堵塞，这时既隔开头腔共
  鸣，又失去了胸腔共鸣的支持，就会出现错误的声音。
  1低声区＜胸声区＞
  发声偏重于胸腔共鸣，有利于发挥低音 区的歌唱技巧。在歌唱发声时明显感到胸腔有振
  动感，声音自如，深厚并有深沉的感觉。必须提出注意的是，唱低音时，颈部肌肉、舌
  肌如果收缩过分，就会失去中声和高声区的共鸣，出现沉闷和暗哑之声，对演唱效果影
  响较大。
  3、 换声区和解决换声的方法
  我认为换声区每个人都存在。有人说，只要把声音唱到高位置上去，换声就不存在了，
  这种说法的根据是不足的。要承认换声现象是客观存在的，从心理上对换声的现象不要
  产生惧怕感，要想各种方法去解决它，并要创造性去研究它。
  ＜一＞ 什么是换声区？在歌唱发声时，由低音向高音唱，或是从高音向低唱，突然出现
  一种控制不住的“破裂卡壳”的声音，顿时感觉上下声音不统一，这种不愉快的声音便
  是“换声”。
  产生“换声”的原因是多种睥，其中主要原因应从生理方面来分析。由于两片声带在发
  声运用时不均衡，其中一片声带不绷紧，杓状软骨的平衡作用失去了，就产生了破音。
  或者，发“真声”时声带靠拢，由于喉肌用力声带“拉紧”。发“假声”时声带不靠拢
  ，喉肌不太用力，声带较为放松。在发声歌唱时这两种声音力量需要衔接得很好，才能
  使声音统一起来。如果衔接不好，一刹间没有及时的把“共鸣量”调节好，立即就会出
  现一种虚弱撕裂或是中断的声音。破音一般容易产生在高音极限音符上和临近音色变化
  的音符上。高音一般产生在E2、F2、＃F2。而“换声区”一般是包括三个半音的音程，
  其中变化最大的音称为“换声点”。
  因为每人嗓音的生理条件不一样，所以换声点的位置有所移动。
  女高音：有一部分女高音换声不明确，但戏剧女高音换声困难。换声在＃F上下；
  女中音：这声部较复杂，音域广，音色变化大。一般有两个换声区。一个在F2上下。第
  二从＃C直到F2的范围之内。戏剧性和低女中音在E2、G2，抒情性的在降E上下；
  男高音：大多数的换声区在＃F、F2包括一部分在G2、降A2。
  男中音：高的男中音换声在降E、E2、F2，低的男中音换声在D2、＃C2。
  ＜二＞ 解决换声的方法
  ＜1＞ 采用“关闭唱法”解决换声
  意大利“美声唱法”对解决换声的生理现象，是采用了母音变异的手法＜即关闭唱法＞
  。在变异处加“o”、“OU”。例如：“妈”字是＜a母音＞，在正常的中声区唱a音，在
  换声区加O音变＜mao＞，过了换声区再加＜ou＞音，就变成＜mou＞的母音。经过这样的
  变化后，由换声所带来的虚音，逐渐出现了明亮的声音。在解决换声时，一定要掌握提
  前做换声的准备工作。当从一个声区马上要转换到下一个声区时，立即需要利用共鸣在
  不同声区变化的混合共鸣的方法，避免出现声区不统一，造成喉音和鼻音等不良现象。
  例如：女高音从中声区向高声区转换时，一般情况下换声点在F2音高上。这时要向前一
  个二度降E2音上＜其它类推＞移动，在降E音上稳定喉头，调正声带的变化。并利用母音
  变异的手法，用弱音控制唱，以头腔共鸣为主来调节去歌唱，唱到F2时声音自然会突破
  换声点，逐渐出现明亮的声音进入高声区，促使整个声区统一了＜其它声部类推＞。
  关闭唱法是中声区用较亮的a，再进一步带入o使声音圆润，到换声区开始用y。男高音中
  的声区a要多用，可以使声音明亮、圆润。男中低音o要多用，使声音浑厚，低沉。用a,
  o,I母音训练，是统一声区的主要办法。
  ＜2＞ 用“中东辙”字音解决换声的新方法
  民族唱法采用“中东辙”的字韵来做歌唱发声练习，是解决换声和扩大音域， 见效最快
  的手段之一。
  \\'衡量声乐教学的水准，一方面要求教学质量好，同时又要求学生的演唱水平提高的快。
  在声乐教学中是存在许多矛盾的，我认为最难解决的问题是如何扩大音域，达到声区统
  一。这其中存在一个障碍，即如何解决人的“换声”阻力。“换声”是人的生理变化极
  其复杂的表现，是看不见，摸不着的喉头内部肌肉活动失调的现象。多年来，“美声唱
  法”对“换声”的生理现象一直采用母音变异的手法来解决。通过这种变化，虽然在一
  些声乐学生嗓音换声上起了作用，但是仍有部分学生解决得不彻底，音域扩展的慢。
  我赞成咬字换声。我们汉字非常多，要从字的发音含义、性质去分析选用。那么，选用
  什么样的字来解决换声最合适呢？采用鼻音类的字来解决“换声”，对扩大音域最有益
  处。鼻音类包括四道辙＜人辰辙、言前辙、江阳辙和中东辙＞。这四道辙包括的字相当
  多，集中采用“中东辙”的字来做练习，能得到最佳效果。在“中东辙”的字中，又是
  重点选用“空、通、松、浓”四个字为主要训练用。这几个字属于鼻音类，此类字本身
  就带有自然的鼻腔共鸣的因素，例如：“通”字，它是由“t和ong”拼成的，当唱“通
  ”字时，一开始由咬“t”很快进入“ong”音并有延长得到头空的感觉，声音自然进入
  头腔共鸣中去。因为“ong”音本身带有头腔的自然共鸣因素，这样，在头腔里，ong产
  生眲共鸣振响，给人以宽的感觉＜指在音色上＞。
  “中东辙”的字，从生理上去分析，喉位自然下移，舌根不抬起，使口腔、咽腔的空间
  增大，声音可以自由流通，不受阻碍，换声自然也容易解决。因而，“中东辙”的特点
  是：中东舌居中，喉咙感觉松，出字半闭口，收字鼻出声。
  ＜一＞ 共鸣同音高的关系
  音高，指音的高度。物体由于振动发出了声音，振动越密则音越高，振动越疏音则越低
  。这种疏密程度的变化称为音高。每个人都有自己的自然音域，歌唱的声音必须有高低
  之分。从生理上去看，声音的高低是在歌唱发声时，声带振动频率所产生的快慢区别。
  振动得快，声带开合的次数多，频率越高，则声音越高，反之就低。这种音的高低在歌
  唱发声共鸣的运用中，要有所控制。
  有时在音乐会结束后，你经常会听到各种演唱者的议论。评论最多的是"这位演员唱的音
  真高"，"他的声音才真叫亮呢"等等。这便是人们对演唱最起码的评论。说明在演唱中人
  们对音的高度是有要求的。但这，并不等于那种尖刺的声音就是正确的。在练习高音时
  ，有的人误认为用一股劲在那"喊"唱，就能把声音唱高了，这种想法是错误的。唱高音
  必须要求正确地运用头腔共鸣。在气息的作用下，声带借助弹性力量很快开合，产生高
  频率振动，但产生了高音。
  从生理上分析，唱低音时声带拉长，边缘厚，弹性张力松弛，开合缓慢。我们有时去欣
  赏大合唱演出，它总能给人以力量和向上感觉。如果缺少了低声部，整体合唱效果感觉
  就没有分量了。只有高声部的演唱，声音就显得单薄了。如果低声部能发挥作用，合唱
  演唱效果立即就变了样，那种丰满深厚、富有魅力的声音立刻吸引人们去遐想。这种声
  音来自于胸腔的振动。胸腔是低音的共鸣区，声音向下唱，喉头自然就要下降，靠近气管，声波在胸腔内产生了振动，运用这种共鸣就会出现了松、通、厚、浓的声音。因为音的高低是与共鸣起直接作用的。
  ＜二＞ 共鸣同音量的关系
  音量的强弱变化是歌唱的表现手法之一。音的强弱是由发音体振动时的振幅大小而决定
  的。振幅大音就强，振幅小音就弱。＜有人误认为强的声音是高音，弱的声音是低音，
  其实是不同的＞，还有的人在追求一种"响"的声音，误认为用这种强而响的声音去歌唱
  效果好，这种想法是错误的。强弱是相对的，二者是因为对比而来的。因此在歌唱中，
  要根据歌曲内容和处理的需要，做到既能强又可弱，这样的变化就比较自然。
  在音乐的旋律中，常用强弱记号来表现音量的变化。如P、PP、PPP、f、ff、fff等。希
  望演唱者对曲目要细心地研究作曲者标记的强弱对比及感情的表达记号。千万不要过分
  追求大音量，这样会造成不好的效果。总之，这些共鸣音响效果的变化，需要我们运用
  灵活多变自如的共鸣技巧，并采用统一的混合共鸣，使各共鸣空间振动音响起最大的谐
  和作用，才能给人以丰满圆润的感觉。在强弱的声音技巧运用过程中，声音用的越轻巧
  ，保持歌唱的位置就越高。
  ＜三＞ 共鸣同音色的关系
  音色是声音的一种特性，是由于发音体的声音不同而产生的。音色是由多方面因素决定
  的。从生理上看，每个人的声带构造不同，歌唱的声音也不一样。声带长厚，音色就厚
  一些。声带短而薄，音色就明亮一些。
  各种共鸣腔内的共鸣效果各有特色，可以唱出各种不同音色的歌声来，所以说，音色是
  表现歌曲思想感情的主要技巧。掌握各种音色变化的能力是很重要的。在歌唱发声中，
  要巧妙的运用各种共鸣的比例，并要按照各声区的要求进行调整，才能唱出动听的音色
  。由于共鸣腔的范围很小，只要轻微一动，发出的音色立即就
'''
tags: []
isStarred: false
isTrashed: false
