createdAt: "2019-11-20T02:05:41.191Z"
updatedAt: "2019-11-20T02:34:07.277Z"
type: "MARKDOWN_NOTE"
folder: "c59f1336313435919ec3"
title: "英语口语1000句"
tags: []
content: '''
  # 英语口语1000句
  
  - you are lying
  - you can't miss it 你一定能找到
  - you surprise me   你让我大吃一惊
  - i don't have time
  - go right ahead 
  - be a man
  - i swim freestyle   我游自由泳
  - i'm dying to see you
  - my eyelids are single-folded
  - count me on 算上我
  - i've got it
  - any news?  有什么消息吗
  - i'm so satisfied today   
  - time is money
  - speak louder, please
  - it's a fact
  - just fooling around  只是混日子
  - have fun
  - that's the bottom line 那才是重点  
  - he is very imp
  - he is evry impatient  他很烦躁
  - don't be so childish
  - gotta go  我要离开了
  - how are things at work   
  - life is good
  - in a while  回头见
  - give me a hand    帮我一下
  - give me a break     饶了我吧
  - i have no idea
  - are you awake?
  - don't blame yourself
  - i'm so glad you came
  - don't you think so?
  - what does she like?
  - it's so boring!
  - it's decided then!
  - i'm happy for you.
  - i am crazy about her.
  - my heart is pounding.  我的心噗通噗通的跳
  - i'm on your side.
  - don't worry about it.
  - care for another?  介意再来一杯吗？
  - it's obvious.  这很明显
  - you look so sweet.
  - no doubt.   毫无疑问
  - you two make a lovely couple.  你们真是天生一对
  - i wish i could.
  - you're most understanding
  - it's my fault.  都怪我
  - it's nothing. 这不算什么
  - exactly  确实
  - hurray for you。  为你欢呼
  - it's up in the air.    尚未确认
  - i have fair skin.  我皮肤白皙
  -  your company is very impressive.
  -  no pain, no gain.
  -  i'm sure
  -  i've got a tan.  我晒黑了
  -  i can't help it.  我情不自禁
  -  you are absolutely correct 
  -  you make me sick!
  -  everything tastes great.
  -  i noticed that
  -  i'm for it.   我支持
  -  help yourself.   别客气
  -  don't be bothered!   别为此烦恼
  -  don't bother.   不用麻烦了 
  -  you can never tell. 谁都没把握
  -  my eyes are black.
  -  i apply mascara regularly
  -  it doesn't matter.
  -  drop by anytime.   随时过来
  -  let's get to the point.  让我们谈谈重点
  -  don't give up
  -  for sure.
  -  don't let me down.
  -  she is so smart.
  -  wait for me.
  -  it is growing cool. 天气渐渐凉爽起来
  -  i couldn't agree more.
  -  i've never been so happy.  我从未这么幸福过
  -  i believe so.
  -  luck me!
  -  do i have to.  非做不可吗
  -  since when?
  -  that's exactily my own idea.
  -  i enjoyed his company. 我和他在一起很快乐
  -  i lost my way
  -  you have a very successful business.
  -  slow down!
  -  it's not dificult.
  -  it's totally true.
  -  i knew it.
  -  what's going on?
  -  it doesn't make any idfferents.
  -  let me know.
  -  is your job challenging?
  -  i know the feeling.
  [YouTube](https://www.youtube.com/watch?v=k0ZVzE08fB4)
  17:32
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
