createdAt: "2018-06-15T04:46:53.746Z"
updatedAt: "2018-09-27T01:36:52.557Z"
type: "MARKDOWN_NOTE"
folder: "87c8bf19ffd2b85c41bc"
title: "ssr + bbr  一键脚本"
content: '''
  ssr + bbr  一键脚本
  
  ssr :beers:
  
  ```
  wget -N --no-check-certificate https://raw.githubusercontent.com/ToyoDAdoubi/doubi/master/ssr.sh && chmod +x ssr.sh && bash ssr.sh
  ```
  
  bbr:beers:
  ```
  wget --no-check-certificate https://github.com/teddysun/across/raw/master/bbr.sh
  ```
  ```
  chmod +x bbr.sh
  ./bbr.sh
  ```
  
  > ### 新一键脚本
  > 
  
  ```
  
  git clone https://github.com/flyzy2005/ss-fly
  
  ss-fly/ss-fly.sh -i <password> <port>
  
  # bbr
  ss-fly/ss-fly.sh -ssr
  ```
  ```
  启动：/etc/init.d/ss-fly start
  停止：/etc/init.d/ss-fly stop
  重启：/etc/init.d/ss-fly restart
  状态：/etc/init.d/ss-fly status
  
  修改配置文件：vim /etc/shadowsocks.json
  ```
'''
tags: []
isStarred: false
isTrashed: false
