createdAt: "2020-02-10T12:04:14.448Z"
updatedAt: "2020-02-10T12:04:53.000Z"
type: "MARKDOWN_NOTE"
folder: "ad6154a9448de75c2a2e"
title: "django template date 过滤器使用"
tags: []
content: '''
  # django template date 过滤器使用
  
  https://www.webforefront.com/django/usebuiltindjangofilters.html
'''
linesHighlighted: []
isStarred: false
isTrashed: false
