createdAt: "2018-10-18T08:29:28.185Z"
updatedAt: "2018-10-18T08:41:56.314Z"
type: "MARKDOWN_NOTE"
folder: "ef2d6ebbfc00bb651888"
title: "fuctiontools"
content: '''
  # fuctiontools
  
  
  >#### reduse
  >
  
  
  > #### partial
  > 
  
  最有用的是partial 及其变体， partialmethod
  
  功能：
  - 
'''
tags: []
isStarred: false
isTrashed: false
